{% extends "site_base.html" %}
{% load uni_form_tags %}


{% block header_main_text %}
{{ djshow.show_name }}
{% endblock %}

{% block header_sub_text %}
Edit your show niggah.
{% endblock %}

{% block dj_active %}active{% endblock %}

{% block main_content %}

<div class="row">
<div class="span16">
    <form method="post" action="/editshow/" class="form-stacked uniform">
        {% csrf_token %}
        {{ form|as_uni_form }}
        <br/>
        <input type="submit" value="Save" id="submit" />
    </form>
</div>
</div>

{% endblock %}
