{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block home_active %}active{% endblock %}

{% block header_main_text %} Browse our Albums {% endblock %}

{% block main_content %}
    {% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
            <li class="prev"><a href="/albums?page={{ page_obj.previous_page_number}}">Prev.</a></li>
            {% else %}
            <li class="prev disabled"><a href="">Prev.</a></li>
            {% endif %}
            {% for pg in paginator.page_range %}
            <li><a href="/albums?page={{ pg }}">{{ pg }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="next"><a href="/albums?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            {% for album in object_list %}
            <tr>
                <td><a href="/album/{{ album.id }}">{{ album.album }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}