{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block home_active %}active{% endblock %}

{% block header_main_text %} Browse the Genres {% endblock %}

{% block main_content %}
    {% if pagination %}
    <div class="pagination">
        <ul>
            {% if page_ob.has_previous %}
            <li class="prev"><a href="/genres?page={{ page_obj.previous_page_number}}">Prev.</a></li>
            {% else %}
            <li class="prev disabled"><a href="/genres?page={{ page_obj.previous_page_number}}">Prev.</a></li>
            {% endif %}
            {% for i in page_obj.page_range %}
            <li><a href="/genres?page={{ i }}">{{ i }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for genre in object_list %}
            <tr>
                <td><a href="/genre/{{ genre.id }}">{{ genre.genre }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}