{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block home_active %}active{% endblock %}

{% block main_content %}
    <div class="nowplaying">
    </div>

    <div class="row">

        <div class="span9">
            <div class="row">
                <div class="span9">

                    <div class="alert-message block-message warning" id="nowplaying">
                        {% if track == "dj" %}
                        <h2>A dj saved my life last night and hes playing right now!</h2>
                        <h4><a href="#">click to listen to {{ current_song }}</a></h4>
                        {% endif %}
                        {% if track == "playlist" %}
                        <h3>Now Playing:</h3>
                        <b>{{ current_song.title }} by {{ current_song.artist }}</b>
                        <h4><a href="#">Listen Now!</a></h4>
                        {% endif %}
                    </div>

                    <h1 id="playedheader">Recently Played</h1>
                    {% for songs in songs %}
                    <div class="songbox">

                        <div class="artistimage">
                            <a href="{{ songs.song.artist.artist_image }}"><img src="{{ songs.song.artist.artist_image }}" /></a>
                        </div>

                        <div class="songtitle">
                            {{ songs.song.title }} by {{ songs.song.artist }}
                        </div>

                        <div class="artistbio">
                            <p><a href="{{ songs.song.artist.artist_url }}"><b>artist bio</b></a> :: {{ songs.song.artist.artist_bio|truncatewords:35 }}</p>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="span5" id="shows">
            <div class="row">
                <div class="span5" id="showlist">
                    <h4>Past Shows</h4>
                    <ul class="unstyled" id="pastlist">
                        {% for show in shows %}
                        <li>{{ show.date|timesince }} ago - <a href="show/{{ show.id }}">{{ show.show_name }} (DJ {{ show.dj }})</a></li>
                        {%  endfor %}
                    </ul>
                </div>
            </div>

        </div><div class="span5" id="shows">
            <div class="row">
                <div class="span5" id="showlist">
                    <h4>Cool Links</h4>
                    <ul class="unstyled" id="pastlist">
                        {% for link in links %}
                        <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                        {%  endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>
{% endblock %}


