{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}


{% block home_active %}active{% endblock %}

{% block main_content %}

    <div id="modal-dj" class="modal hide fade">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>I wanna DJ!</h3>
        </div>
        <div class="modal-body">
            {% if track == "dj" %}
            <p>Sorry someones already playing! Wait until hes off and click this button again.</p>
            {% else %}
            <p>So you wanna DJ eh? Well sure. Just make sure you edit your show info <a class="label important" href="/editshow/">here</a> really quick.</p>
            <p>When you're ready click this here button. If someone already beat you to the punch then welp! be fast next time.</p>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a class="btn large danger" href="/addshow/">Click here when ready!</a>
        </div>
    </div>

    <div class="row">

        <div class="span14">
            <div class="row">
                <div class="span14">

                    <div class="alert-message block-message warning" id="nowplaying">
                        {% if track == "isdj" %}
                        <h2>Hey bro youre live!</h2>
                        <br>
                        <h1>Connect to radio.cattes.us:8500 using dj:{{ djpass }} as your password.</h1>
                        {% endif %}

                        {% if track == "dj" %}
                        <h2>A dj saved my life last night and hes playing right now!</h2>
                        <br/>
                        <h1>Listen to {{ current_song }} with DJ {{ dj }}</h1>
                        <h1><a class="btn large primary" href="http://radio.cattes.us:9021/listen.pls">In your media player</a> <a href="#" class="btn primary large">In your browser</a></h1>
                        {% endif %}

                        {% if track == "playlist" %}
                        <h1 style="margin-bottom: -5px;">Now Playing:</h1>
                        <h2><b>{{ current_song.title }} by {{ current_song.artist }}</b></h2>
                        <br/>
                        <h4><a class="btn large primary" href="http://radio.cattes.us:9021/listen.pls">Play In Media Player</a> <a class="btn large primary" href="#">Play In Browser</a>   <button class="btn danger large" data-controls-modal="modal-dj" data-databackrop="true" data-backdrop="true">Wanna dj?</button></h4>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>

        <div class="span16">
            <div class="row">
                <div class="span16">

                    <h1 id="playedheader">Recent AutoDJ Songs</h1>
                    {% for songs in songs %}
                    <div class="songbox">

                        <div class="artistimage">
                            <a href="{{ songs.song.artist.artist_image }}"><img class="thumbnail" src="{{ songs.song.artist.artist_image }}" /></a>
                        </div>

                        <div class="songtitle">
                            {{ songs.song.title }}<br> 
                            by {{ songs.song.artist }}
                        </div>

                        <div class="artistbio">
                            <p><a href="{{ songs.song.artist.artist_url }}"><b>artist bio</b></a> :: {{ songs.song.artist.artist_bio|truncatewords:60 }}</p>
                        </div>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


