{% extends "site_base.html" %}

{% load ifsetting_tag %}

{% block head_title %}Management Home{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
{% endblock %}

{% block body_class %}home{% endblock %}


{% block body %}

<div id="logs">
    <h1>Logs</h1>
</div>

<div id="data">
    {{ data }}
</div>

{% endblock %}


{% block extra_body %}

<script type="text/javascript">
    $(document).ready(function(){
        setInterval("logData()", 10000);
    });
</script>

{% endblock %}