{% extends 'site_base.html' %}

{% block main_content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <div class="clearfix">
        <div class="search-page">
            <br/>
            <p><input type="text" name="q" value="{{ query }}" class="id_q xlarge"/></p>
            <input type="hidden" name="models" value="music.song" id="id_models_0" />
            <br/>
            <input type="submit" value="Search" />
        </div>
        </div>

        {% if query %}
            <h3>Results</h3>

            {% if is_paginated %}
    <div class="pagination">
        <ul>
            {% if page_obj.has_previous %}
            <li class="prev"><a href="/search?page={{ page_obj.previous_page_number}}">Previous</a></li>
            {% else %}
            <li class="prev disabled"><a href="">Previous</a></li>
            {% endif %}
            {% for pg in paginator.page_range %}
            <li class="page_{{ pg }}"><a href="/search?page={{ pg }}">{{ pg }}</a></li>
            {% if pg == page_obj.number %}
                <script type="text/javascript">
                    $(".page_{{ pg }}").addClass("active");
                </script>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="next"><a href="/search?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
            <li class="next disabled"><a href="#">Next</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

                <table class="zebra-striped">
                    <thead>
                        <tr>
                            <th>Genre</th>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for result in page.object_list %}
                        <tr>
                            <td>{{ result.object.genre.genre }}</td>
                            <td>{{ result.object.title }}</td>
                            <td>{{ result.object.artist.artist }}</td>
                            <td>{{ result.object.album.album }}</td>
                            <td><a class="label notice" href="/addsong/{{ result.object.id }}">Add to Playlist</a></td>
                        </tr>
                    {% empty %}
                            No Results Found.
                    {% endfor %}
                    </tbody>
                </table>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}